body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo {
   padding-left: 50px;
}

.sidebar {
   display: flex;
   height: 100vh;
   float: left;
   overflow: 'scroll initial';
}

.side-container {
   padding-top: 30px;
}

.side-row {
   padding: 30px;
}

.react-bootstrap-table thead {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1021;
    color: white;
}

.logo-title{
   font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 550;
   color: 	#900000;
}
.side-content-nav{
   font-size: 20px;
}

.nav-text{
   color: white;
}
.nav-head-text{
   color: #FFFF00;
   font-size: 25px;
}
